*{
    margin: 0;
    padding: 0;
}
@keyframes weelrotation{
    100%{
        transform:rotate(360deg);
    }
}
@keyframes carmove{
    100%{
        transform:translatex(-500vw);
    }
}
@keyframes carshake{
    0%{
        transform:translatey(-5px);
    }
    50%{
        transform:translatey(5px);
    }
    100%{
        transform:translatey(-5px);
    }
}
body{
    overflow: hidden;
}

.sky{
    height:100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.trees{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(trees.png);
    position: absolute;
    top: -58px;
  
}
.track{
    height: 18vh;
    width: 800vw;
    background-image: url(track.png);
    position: absolute;
    top:82vh;
    animation:carmove linear 6s infinite;

}
.car{
    height: 16vh;
    width: 52vh;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50vh;
    bottom: 13vh;
    animation: carshake linear 2s infinite;

}

.weel1 img{
    width: 12vh;
    position: relative;
    top: 6vh;
    left: 6vh;
    animation:weelrotation linear .6s infinite;
}
.weel2 img{
    width: 13vh;
    position: relative;
    top: -7vh;
    left: 34vh;
    animation:weelrotation linear .6s infinite;

}

