* {
  margin: 0;
  padding: 0;
}

.navigation {
  margin-top:25px ;
  display: flex;
  justify-content: space-between;
  height: 74px;
  /* background-color: red; */
  font-family: var(--font1);
  align-items: center;
}

.nav-left {
  display: flex;
  font-size: 25px;
}

.nav-left ul {
  display: flex;
  align-items: center; 
  margin: 0 77px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-size: smaller;
   
}

.nav-left ul li a:hover{
  color: var(--main-bg-color);
  font-weight: bolder;

}

.nav-left ul li a{
    text-decoration: none;
    color: black; 
    font-family: var(--font2);
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.content {
  height: 500px;
  /* background-color: rgb(210, 210, 247); */
  /* background-image: url(/img/11.svg); */
  display: flex;
  padding: 12px;
  position: relative;
}
.content::after{
  content: "";
  background-image: url(/img/11.svg);
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;

}
.content-left{
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
 height: 355px;
 border: 2px solid black;
 border-radius: 200px;
}
.home-articles{
  padding-top: 12px;
  /* height: 455px; */
  /* background-color: red; */
}

.home-article{
  display: flex;
  margin: 25px;
}
.home-article img{
  width: 300px;
}
.home-article-content{
  align-self: center;
  padding: 25px;
}
.footer {
  height: 50px;
  background-color: rgb(119, 48, 48);
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
}
